@mixin ul-default {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

@mixin sub-menu-area {
  border: 1px solid black;
  background-color: white;
  color: black;
}

@mixin li-hover {
  text-decoration: underline;
  background-color: black;
  color: white;
}

@mixin flex-and-dir($dir) {
  position: absolute;
  display: flex !important;
  flex-direction: $dir !important;
}

$li-height: 2rem;
$half-padding: $li-height / 2;
$third-padding: $li-height / 3;
$third-plus-padding: $li-height;

div.ox-menu-container {
  width: 50vw;
  margin: 0 auto;
  border: 1px solid red;
}

ul.ox-menu {
  @include ul-default;

  li {
    cursor: pointer;
    flex-grow: 1;
    height: $li-height;
    padding: $third-padding 0;
    padding-left: $half-padding;
    padding-right: $half-padding;
    white-space: nowrap;

    & ul:first-child {
      @include ul-default;
      margin-top: calc(#{$li-height - $third-padding} - 0.2rem);
      //margin-top: $third-padding;
      margin-left: -$half-padding;
      //margin-top: $li-height;
      display: none;
    }

    &:hover {
      @include li-hover;
      & > ul:first-child {
        @include sub-menu-area;
        &[data-dir="stack"] {
          @include flex-and-dir(column);
        }
        &[data-dir="stack-right"] {
          @include flex-and-dir(column);
          margin-left: calc(100% - #{$half-padding});
          transform: translateY(-#{$li-height + $third-padding * 2});
        }
        &[data-dir="stack-left"] {
          @include flex-and-dir(column);
          transform: translate(-100.1%, -#{$li-height + $third-padding * 2});
        }
        &[data-dir="stack-below"] {
          @include flex-and-dir(column);
        }
        &[data-dir="stack-above"] {
          @include flex-and-dir(column);
          transform: translateY(-100%);
        }
        &[data-dir="inline"] {
          @include flex-and-dir(row);
        }
        &[data-dir="inline-right"] {
          @include flex-and-dir(row);
          flex-wrap: nowrap;
          margin-left: calc(100% - #{$half-padding});
          transform: translateY(-#{$li-height + $third-padding * 2});
        }
        &[data-dir="inline-left"] {
          @include flex-and-dir(row);
          flex-wrap: nowrap;
          transform: translate(-100.1%, -#{$li-height + $third-padding * 2});
        }
        &[data-dir="inline-full"] {
          @include flex-and-dir(row);
          width: 100%;
          left: $half-padding;
        }
        &[data-dir="inline-center"] {
          @include flex-and-dir(row);
          transform: translateX(-30%);
        }
      }
    }
  }
}
