div.ox-menu-container {
  width: 50vw;
  margin: 0 auto;
  border: 1px solid red; }

ul.ox-menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap; }
  ul.ox-menu li {
    cursor: pointer;
    flex-grow: 1;
    height: 2rem;
    padding: 0.6666666667rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap; }
    ul.ox-menu li ul:first-child {
      list-style: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(1.3333333333rem - 0.2rem);
      margin-left: -1rem;
      display: none; }
    ul.ox-menu li:hover {
      text-decoration: underline;
      background-color: black;
      color: white; }
      ul.ox-menu li:hover > ul:first-child {
        border: 1px solid black;
        background-color: white;
        color: black; }
        ul.ox-menu li:hover > ul:first-child[data-dir="stack"] {
          position: absolute;
          display: flex !important;
          flex-direction: column !important; }
        ul.ox-menu li:hover > ul:first-child[data-dir="stack-right"] {
          position: absolute;
          display: flex !important;
          flex-direction: column !important;
          margin-left: calc(100% - 1rem);
          transform: translateY(-3.3333333333rem); }
        ul.ox-menu li:hover > ul:first-child[data-dir="stack-left"] {
          position: absolute;
          display: flex !important;
          flex-direction: column !important;
          transform: translate(-100.1%, -3.3333333333rem); }
        ul.ox-menu li:hover > ul:first-child[data-dir="stack-below"] {
          position: absolute;
          display: flex !important;
          flex-direction: column !important; }
        ul.ox-menu li:hover > ul:first-child[data-dir="stack-above"] {
          position: absolute;
          display: flex !important;
          flex-direction: column !important;
          transform: translateY(-100%); }
        ul.ox-menu li:hover > ul:first-child[data-dir="inline"] {
          position: absolute;
          display: flex !important;
          flex-direction: row !important; }
        ul.ox-menu li:hover > ul:first-child[data-dir="inline-right"] {
          position: absolute;
          display: flex !important;
          flex-direction: row !important;
          flex-wrap: nowrap;
          margin-left: calc(100% - 1rem);
          transform: translateY(-3.3333333333rem); }
        ul.ox-menu li:hover > ul:first-child[data-dir="inline-left"] {
          position: absolute;
          display: flex !important;
          flex-direction: row !important;
          flex-wrap: nowrap;
          transform: translate(-100.1%, -3.3333333333rem); }
        ul.ox-menu li:hover > ul:first-child[data-dir="inline-full"] {
          position: absolute;
          display: flex !important;
          flex-direction: row !important;
          width: 100%;
          left: 1rem; }
        ul.ox-menu li:hover > ul:first-child[data-dir="inline-center"] {
          position: absolute;
          display: flex !important;
          flex-direction: row !important;
          transform: translateX(-30%); }

/*# sourceMappingURL=menu.css.map */
